QWidget#centralwidget{
    background: qlineargradient( x1:0 y1:1, x2:1 y2:0, stop:0 #2761A0, stop:1 #9C4588);
    border-color: rgba(0,0,0,0);
}


QPushButton {
    border:1.6px solid #D0D0D0;
    border-radius: 20px;
    color: #D0D0D0;
    font-size: 16px;
    background-color: rgba(28,28,28,0);

}

QPushButton:hover{

    background: rgba(156, 69, 136, 0.56);
    border-radius: 50px;
    color: #D0D0D0;
}
QListWidget{
    border:0px;
    background: rgba(127, 55, 105, 0.7);
    color: #D0D0D0;
}

QLabel#timeLabel{
    font-size: 16px;
    color: #D0D0D0;
}
